<div class="row my-4">
    <div class="col-md-12">
        <h3>Update Post</h3>
        <hr/>
        <form [formGroup]="postForm"  (ngSubmit)="onUpdatePost()" >
            <div class="mb-3">
                <label for="">Title</label>
                <input type="text" class="form-control" formControlName="title">
                <div *ngIf="f['title'].invalid && (f['title'].dirty || f['title'].touched)" >
                    <div class="form-text text-danger"  *ngIf="f['title'].errors?.['required']">
                        Es requerido
                    </div>
                    <div class="form-text text-danger"  *ngIf="f['title'].errors?.['minlength']">
                        Minimo 6 caracteres
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="">Description</label>
                <textarea class="form-control" formControlName="description"></textarea>
                <div class="form-text text-danger">
                    {{ showErrorDescription() }}
                </div>
            </div>
            <div class="my-3">
                <button class="btn btn-primary" type="submit" >Update Post</button>
            </div>
        </form>
    </div>
</div>